window {
	background-color: rgba(--wofi-rgb-color0,1);
	transition: 1s ease-in-out;
}
#input {
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	box-shadow: none;
	background-color: --wofi-color0;
	border: 5px solid --wofi-color3;
	border-radius: 0px;
	transition: 0.5s ease-in-out;
}
#input:focus {
	background-color: rgba(--wofi-rgb-color4,0.2);
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.5s ease-in-out;
}
label {
	color: --wofi-color13;
	transition: 0.5s ease-in-out;
}
#outer-box {
	border: 5px solid --wofi-color2;
	transition: 0.5s ease-in-out;
}
#input image {    
        color: rgba(0,0,0,0)    
}
