if type lorri &>/dev/null; then
    echo "direnv: using lorri"
    eval "$(lorri direnv)"
    if type ghc &>/dev/null; then
        eval $(grep 'export NIX_' $(command -v ghc))
    fi
    if type hoogle &>/dev/null; then
        export HIE_HOOGLE_DATABASE="$(cat $(command -v hoogle) | sed -n -e 's|.*--database \(.*\.hoo\).*|\1|p')"
    fi
else
    # fall back to using direnv's builtin nix support
    # to prevent bootstrapping problems.
    use nix
fi
